[submodule "node/socket.io-node"]
	path = node/socket.io-node
	url = git://github.com/LearnBoost/Socket.IO-node.git
[submodule "sinatra/public/javascripts/Socket.IO"]
	path = sinatra/public/javascripts/Socket.IO
	url = git://github.com/LearnBoost/Socket.IO.git
[submodule "node/jsonrpc"]
	path = node/jsonrpc
	url = git://github.com/felipeota/node-jsonrpc.git
